


User Story A:

As a user, I want to be able to repeat a command using a built in history function so that I can conveniently view and re-execute the previously run command.

1) Command can be run by typing H and pressing enter 
2) Command ignores characters past first H
3) Command handles H being entered before any other input to the shell
4) Command does not store itself as a command
5) Command does not store empty lines as the last command

User Story B:

As a user, I want to be able to access history of previously run commands to improve conveience and speed of use for the shell.

1) The history command (H) when followed by a number allows command history to be accessed by index
2) Previous commands are stored in a unique index of the data structure containing the environmental variables, using a linked list
3) commands will be displayed and require user (Y/N)? before execution
4) The user will be able to view the entire history in list form
